<h2><%= @blog.title %></h2>
<%= @blog.content %><hr>
<% if logged_in? && current_user.id == @blog.user_id%>
<%= link_to "edit blog", edit_blog_path %> •
<%= link_to "delete blog", blog_path, method: :delete,
                                          data: {confirm: "are you sure? you cannot undo this action."}
  %>
<% end %><br>
<% if logged_in? %>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
<%= f.text_field :content %><br />
<%= f.submit "post comment" %>
<% end %>
<% end %>


<h4>Comments</h4>
<% @blog.comments.each do |c| %>
<% if c.id == nil %>
<% c.user_id = 0 %>
<% else %>
<u>Comment:</u> <%= c.content %><br>
<u>By:</u> <%= c.user.username %>
<% end %>


<br>
    <% if logged_in? && current_user.id == c.user_id %>
    <div id="link"><a href="/blogs/<%=@blog.id%>/comments/<%=c.id%>/edit">edit comment</a>
    </div>

    <hr>
    <% end %>
<% end %>
