<!DOCTYPE html>
<html>
  <head>
    <title>Lori's Rails Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Copse|Oswald" rel="stylesheet">

  </head>

  <body><div class="wrapper"><div class="head"><h1>Lori's Rails Blog</h1></div>
    <nav>
      <%= link_to "home", root_path %>


      <% if logged_in? %>
      • <%= link_to "post a blog", new_blog_path %>
      • <%= link_to "log out", "/logout", {method: "post"} %><br>

      <% end %>
      <% if !logged_in? %>
      • <%= link_to "sign up", new_user_path %>
      • <%= link_to "log in", login_path %>
      <% end %>
    </nav>
    <% if logged_in? %>
    <div class="current">Logged In As: <a href="/users/<%= current_user.id %>"><%= current_user.username %></a></div></div>
    <% end %>
<div class="yield">
    <%= yield %>
  </div>
  </body>
</html>
